<html>
<title> Sessions demo </title>
<body bgcolor="lightblue">
<h1>Welcome to the sessions demo!</h1>
<br>

<h2>Login</h2>
<form action="/login" method="post">
  User name:<br>
  <input type="text" name="username" value="">
  <br>
  Password:<br>
  <input type="password" name="password" value="">
  <br>
  Verification Code:<br>
  <input type="verification" name="verification" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>

<a href="/register">No account? Create one!</a>

</body>
</html>
